.full01 {    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#gallery{
    width: 80%;
    height: 80%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;                     
}

#photogrid{
    margin-top: 1%;
    margin-bottom: 1%;
}

#gallerytitle{
    color: white; 
    margin-top: 1.5%; 
    margin-bottom: -0.5%; 
    margin-left: auto; 
    margin-right: auto; 
    height: fit-content;
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

#viewmore{
    color: white; 
    margin-top: -0.5%; 
    margin-bottom: 1%; 
    margin-left: auto; 
    margin-right: auto; 
    height: fit-content;
}

#gallery_row_thumbnail{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-around;
}

#gallery_column_thumbnail{
    -ms-flex: 25%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 1%;
    background: white;
    display: flex;  
}

#gallery_column_thumbnail p{
    margin-bottom: -0.5rem;
    text-align: center;
    
}

@media screen and (max-width: 600px) {
    #gallery_column_thumbnail{
        -ms-flex: 25%; /* IE10 */
        flex: 100%;
        max-width: 100%;
        padding: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        background: white;
        display: flex;  
    }
    #gallery_row_thumbnail{
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin-top: 2%;
        margin-bottom: 2%;

        justify-content: center;
    }
    .full01 {    
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20%;
        margin-top: 20%;
    }
    #photogrid{
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 8%;
    }
    #gallery_column_thumbnail p{
        margin-bottom: 0rem;
        text-align: center;
        
    }
    #viewmore{
        color: white; 
        margin-top: -10%; 
        margin-bottom: 5%; 
        margin-left: auto; 
        margin-right: auto; 
        height: fit-content;
    }
}